
.master-piece-containter{
    height: 750px;
    width: 100%;
    position: relative;
    float: left;
    font-weight: bold;
}
#main-master-piece {
    position:relative;
    margin:0 auto;
}
#main-master-piece img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#main-master-piece img.transparent {
    opacity:0;
}
